/* classes  */

/* signup-form-css */
.signupScreen-mainDiv {
  display: flex;
  justify-content: space-around;
}

.signupscreen-form {
  margin-top: 50px;
  margin-left: 30px;
  width: 45%;
}

.signupscreen-form>h3 {
  /* text-align: center; */
  font-size: 2vw;
  margin-bottom: 20px;
  font-weight: bold;
}

.ant-col-sm-8 {
  text-align: left !important;
  max-width:100% !important;
}

.myform div {
  display: block;
}

.signupform-icon-div {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 1;
  font-size: 22px !important;
}

.ant-form-item-required {
  font-size: 20px !important;
}

.signup-form-inputs {
  padding-left: 40px !important;
  height: 40px !important;
  
}
.iconwithinput{
  display: flex;
}

/* ids */
#signuppage-img {
  width: 45%;
  height: 100vh;
  border-radius: 0px 50px 0px 0px;
}

/* .ant-col-sm-16{
  min-width: 50% !important;
} */

@media only screen and (max-width: 500px) {
  #signuppage-img {
    display: none;
  }

  .signupscreen-form>h3 {
    font-size: 20px;
  }

  .signupscreen-form {
    border: 1px solid black;
    padding: 2% 5%;
    width: 90%;
    border-radius: 20px;
    margin-left: 0;
    margin: 5px;
  }

  .signupscreen-form>h3 {
    text-align: center;
  }

}


/* Register-Btn CSS  */
.registerbtn {
  background-color: #013360 !important;
  width: 70%;
  border-radius: 3px !important;
  font-size: large !important;
  height: fit-content !important;
}

.ant-col-sm-offset-8 {
  margin-left: 0px !important;
  text-align: center;
}


/* Signin-Screen CSS */
.signin-screen-maindiv {
  display: flex;
  justify-content: space-around;
}

.signin-image {
  width: 150px;

}

.signinscreen-form {
  margin-top: 50px;
  margin-left: 30px;
  width: 50%;
  text-align: center;
}

.signinscreen-form>h3 {
  /* text-align: center; */
  font-size: 2vw;
  margin-bottom: 50px;
  font-weight: bold;
}

.signinform-icon-div {
  position: absolute;
  top: 7px;
  left: 10px;
  z-index: 1;
  font-size: 25px !important;
}

/* login-Btn CSS  */

.loginbtn {
  background-color: #013360 !important;
  width: 30%;
  border-radius: 3px !important;
  font-size: large !important;
  height: fit-content !important;
}

/* Home Screen CSS */

.add-team-icon{
  font-size:50px !important;
  color: white;
  background-color: #013360;
  position: absolute;
  bottom: 100px;
  right:50px
}
.ant-table-tbody  {
  height: 2px !important; 
  padding: 4px !important;
 
}
.tablediv{
  /* height: 2px !important; */
}
.home-userloginemail{
  font-size: 15px !important;
}




/* View Component  CSS*/

.viewdata-MembersLength{
  text-align: right;
}
.viewdata-heading{
  text-align: center;
}

.viewdata-datatable{
  border: 1px solid black;
  text-align: center;
  /* margin-left: 30%; */
}