
/* classes  */

/* navigation-bar */
.navigation-bar{
  background-color: #013360 !important;
}

/* signup-form-css */
.signupScreen-mainDiv {
  display: flex;
  justify-content: space-around;
}

.signupscreen-form {
  margin-top: 50px;
  margin-left: 30px;
  width: 45%;
}

.signupscreen-form>h3 {
  /* text-align: center; */
  font-size: 2vw;
  margin-bottom: 20px;
  font-weight: bold;
}

.ant-col-sm-8 {
  text-align: left !important;
  max-width: 100% !important;
}

.myform div {
  display: block;
}

.signupform-icon-div {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 1;
  font-size: 22px !important;
}

.ant-form-item-required {
  font-size: 20px !important;
}

.signup-form-inputs {
  padding-left: 40px !important;
  height: 40px !important;

}

.iconwithinput {
  display: flex;
}

/* ids */
#signuppage-img {
  width: 45%;
  height: 100vh;
  border-radius: 0px 50px 0px 0px;
}

/* .ant-col-sm-16{
  min-width: 50% !important;
} */

@media only screen and (max-width: 500px) {
  #signuppage-img {
    display: none;
  }

  .signupscreen-form>h3 {
    font-size: 20px;
  }

  .signupscreen-form {
    border: 1px solid black;
    padding: 2% 5%;
    width: 90%;
    border-radius: 20px;
    margin-left: 0;
    margin: 5px;
  }

  .signupscreen-form>h3 {
    text-align: center;
  }

}


/* Register-Btn CSS  */
.registerbtn {
  background-color: #013360 !important;
  width: 70%;
  border-radius: 3px !important;
  font-size: large !important;
  height: fit-content !important;
}

.ant-col-sm-offset-8 {
  margin-left: 0px !important;
  text-align: center;
}


/* Signin-Screen CSS */
.signin-screen-maindiv {
  display: flex;
  justify-content: space-around;
}

.signin-image {
  width: 150px;

}

.signinscreen-form {
  margin-top: 50px;
  margin-left: 30px;
  width: 50%;
  text-align: center;
}

.signinscreen-form>h3 {
  /* text-align: center; */
  font-size: 2vw;
  margin-bottom: 50px;
  font-weight: bold;
}

.signinform-icon-div {
  position: absolute;
  top: 7px;
  left: 10px;
  z-index: 1;
  font-size: 25px !important;
}

/* login-Btn CSS  */

.loginbtn {
  background-color: #013360 !important;
  width: 30%;
  border-radius: 3px !important;
  font-size: large !important;
  height: fit-content !important;
}

/* Home Screen CSS */

.home-tables-Main-div{
  display: flex;
}
.home-addteam-component-div{
  width: 10%;
}
.add-team-icon {
  font-size: 70px !important;
  /* color: white; */
  color: #013360;
  /* color:white; */
  position: fixed;
  bottom: 5%;
  right: 2%
}
.home-tables-div{
  width: 90%;
}

.add-team-icon:hover{
  cursor: pointer;
}

.ant-table-tbody {
  height: 2px !important;
  padding: 4px !important;
  
}

.home-userloginemail {
  font-size: 15px !important;
}

.home-myteam-div {
  margin-left: 1%;
  margin-right: 1%;
  width: 100%;
  /* text-align: center; */
  /* display: flex;
  justify-content: center; */
}

.home-myteam-div>div {
  max-width: 100% !important;
}

.home-team-member-div {
  /* margin-left: 1%;
  margin-right: 2%; */
  width: 100%;
  margin-top: 20px;
  margin-left: 1%;
  margin-right: 1%;
  /* text-align: center;
  display: flex;
  justify-content: center; */
}

.home-team-member-div>div {
  /* max-width: 100% !important; */
}

.home-myteam-div {
  /* background-color: rebeccapurple; */
}

.home-tables-div {
  margin-top: 20px;
  /* display: flex; */
}

/* myteamtable CSS */

::-webkit-scrollbar {
  display: none;
}

.ant-table table {
  width: 100%;
}

.myteamtable-MainParent,.myteamtable-MainParent-div{
  border: 1px solid black;
  padding:10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  /* background-color: #212b34; */
  border-radius: 10px;

}
.myteamtable-MainParent>h4{
  text-align: center;
}

.myteamtable-table {
  /* width: 20% !important; */
}

.myteamtable-component-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.myteamtable-div {
  border: 1px solid black;
  background-color: #212b34;
  border-radius: 3px;
  /* padding: 0px 5px; */
  /* width: 80%; */
}
.myteamtable-div p ,.myteamtable-div  button{
  color: white;
}
.myteamtable-div  button{
  border: 1px solid white;
  margin:10px 20px;
  width: 70%;
  height: 30px;
}
.myteamtable-div button:hover{
  background-color: #013360;
}

.myteamtable-div table {
  font-size: 11px;
}

.ant-spin-container ul {
  display: none !important;
}
.myteamtable-icons{
  font-size: 17px !important;
  color:white;
  margin-left: 5px;
}
.myteamtable-deleteicon{
  margin-left: 50px;
}
.myteamtable-div > h4{
  /* text-align: right !important; */
  display: flex;
  flex-wrap: wrap; 
}
.myteamtable-Main-div{
  display: flex;
  flex-wrap: wrap;
}
.myteamtable-Main-div >div{
  margin-left: 1% ;
  margin-top: 1%;
}
.myteamtable-teamname-heading{
  background-color: #013360;
  color: white;
  border-radius: 0px 0px 15px 0px;
  border-bottom: 1px solid white;
  height: 25px;
  /* padding: 3px; */
}

/* .teammembertable-table CSS */

.teammembertable-div table {
  font-size: 11px;
}

.teammembertable-div {
  border: 1px solid black;
  /* padding: 0px 5px; */
  /* width: 80%; */
  height: 250px;
}




/* .myteamtable-component-div > div{
  margin-left: 10px !important;
} */

/* View Component  CSS*/

.viewdata-MembersLength {
  text-align: right;
}

.viewdata-heading {
  text-align: center;
}

.viewdata-datatable {
  border: 1px solid black;
  text-align: center;
  width: 100%;
  /* margin-left: 30%; */
}

@media only screen and (max-width: 670px) {

  /* Home CSS */
  .home-tables-div {
    display: block;
    margin-left: 3%;
    margin-right: 3%;
  }

  .home-tables-div>div {
    margin-top: 20px;
    width: 100%;
    margin-left: 0px;

  }

  .home-myteam-div{
    /* background-color: red; */
    
  }
  
  .home-myteam-div>div {
    text-align: center;
    max-width: 100% !important;
  }

  .home-team-member-div {
    margin-left: 0px;
   
    width: 100%;
  }

  .home-team-member-div>div {
    max-width: 100% !important;
  }

  /* .myteamtable-div{
    width: 100%;
  } */
  .myteamtable-div table ,.teammembertable-div table {
    font-size: 13px;
  }
}